.controls {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;

}

/* Info */
.info {
    display: flex;
    background-color: #efefef;
    height: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.info i {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

/* Left Side */
.controls .left {
    margin-left: 30px;
}

.controls .left a {
    text-decoration: none;
    color: black;
}

/* Right side */

.controls .right {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.controls .right hr {
    margin: 10px;
    height: 20px;
}

.filter {
    position: fixed;
}

.filter.active {
    display: flex;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 12;

}

.filter .filtercontent {
    width: 0;
    transition: width .4s;
    position: relative;
}

.filter .filtercontent i {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.filter.active .filtercontent {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    height: 100%;
    background-color: #f8f8f8;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px 0px 0px 10px;
}


.filter .darkness {
    height: 100vh;
    width: 100vw;
}



/* Piece */
.controls .right .displaysize {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;

}

.controls .right .large {
    display: none;
}

.controls .right .displaysize.close .large {
    display: flex;
}

.controls .right .displaysize.close .small {
    display: none;
}

.controls .right span {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.productcontainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
    justify-content: center;
}

.productcontainer .product {
    position: relative;
    height: 400px;
    width: 300px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    overflow: hidden;

}

.productcontainer .product.size {
    height: 500px;
    width: 400px;
}

.productcontainer .product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#resultContainer {
    position: fixed;
    width: 100%;
    left: 20px;
    bottom: 20px;
    width: 185px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    opacity: 1;
    transition: 400ms ease-in-out;
}

#resultContainer .Err {
    position: absolute;
    z-index: 10;
    color: white;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 185px;
    height: 35px;
    box-shadow: 3px 3px 10px rgba(0, 120, 0, 0.05);
}

#resultContainer .Success {
    position: absolute;
    z-index: 10;
    color: white;
    background-color: green;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 185px;
    height: 35px;
    box-shadow: 3px 3px 10px rgba(0, 80, 0, 0.5);

}

.productcontainer .product .imgbox {
    height: 100%;
    width: 100%;
}

.productcontainer .product .imgbox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.productcontainer .product .imgbox::before {
    transition: all 300ms ease-in-out;
}

.productcontainer .product:hover .imgbox::before {
    content: "";
    height: 40px;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: 4;
    bottom: 0;
    filter: blur(100px);
    transition: all 300ms ease-in-out;

}

.productcontainer .product .addcart {
    height: 30px;
    width: 30px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -10px;
    right: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    opacity: 0;
    z-index: 13;
}

.productcontainer .product .addcart:hover {
    background-color: #f0f0f0;

}

.productcontainer .product:hover .addcart {
    bottom: 10px;
    opacity: 1;
}

.productcontainer .product .addcart button {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;

}

.productcontainer .product .addcart button i {
    font-size: 16px;
}


.productcontainer .product .productsize .sizediv {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 300ms ease-in-out 100ms;
    bottom: -40px;
    z-index: 15;
}

.productcontainer .product:hover .productsize .sizediv {
    opacity: 1;
    bottom: 0px;
}


.productcontainer .product .productsize .sizediv label {
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.productcontainer .product.size .productsize .sizediv label {
    margin-left: 10px;
    margin-right: 10px;
}

input[type="radio"] {
    display: none;
}



.productcontainer .product .productsize .sizediv label span {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px rgb(0, 114, 0) solid;
    position: absolute;
    z-index: -1;
}

.productcontainer .product.size .productsize .sizediv label span {
    height: 30px;
    width: 30px;
}

.productcontainer .product .productsize .sizediv label span::after {
    content: "";
    height: 25px;
    width: 25px;
    background-color: rgb(0, 114, 0);
    border-radius: 50%;
    color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.productcontainer .product.size .productsize .sizediv label span::after {
    height: 30px;
    width: 30px;
}

.productcontainer .product .productsize .sizediv label input[type="radio"]:checked~span:after {
    transform: translate(-50%, -50%) scale(1);

}

.productcontainer .product .price {
    position: absolute;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
    height: 30px;
    width: 80px;
    opacity: 0.7;
}

.productcontainer .product:hover .price {
    opacity: 1;

}

.productcontainer .product .price p {
    font-weight: 700;
    font-size: 16px;
}

.productcontainer .product.size .price {
    height: 35px;
    width: 100px;
}

.productcontainer .product.size .price p {
    font-size: 20px;
}

@media (max-width: 480px) and (min-width:280px) {
    .controls .right hr:nth-child(2) {
        display: none;
    }

    .controls .right .piece {
        display: none;
    }

    .controls .right .displaysize .large {
        display: none;
    }

    .controls .right .displaysize .small {
        display: none;
    }

    .filter.active .filtercontent {
        width: 100%;
        border-radius: 0 0 0 0;
    }
}

@media (max-width: 1024px) and (min-width:480px) {
    .filter.active .filtercontent {
        width: 50%;

    }
}