* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 75vw;
    height: 75vh;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: 6fr 6fr;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section .left {}

section .right {}